<form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="form-group">
      <label>Beschreibung:</label>
      <input class="form-control" formControlName="description"/>
      <span *ngIf="!transferForm.get('description').valid && transferForm.get('description').touched">
      Bitte geben Sie eine Beschriebung für die Transaktion ein!
    </span>
    </div>
    <div class="form-group">
      <label>Transaktionsdatum:</label>
      <input type="text" align="right" formControlName="transactionDate"
             placeholder="Datepicker"
             class="myformcontrol"
             [bsConfig]="bsConfig"
             bsDatepicker/>
    </div>
    <div class="form-group">
      <label>Konto:</label>
      <select class="btn btn-primary dropdown-toggle" formControlName="srcaccount">
        <option class="mydropdown-item" [ngValue]="giro" *ngFor="let giro of giros" >
          {{giro.description}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Budget:</label>
      <select class="btn btn-primary dropdown-toggle" formControlName="trgaccount">
        <option class="mydropdown-item" [ngValue]="giro" *ngFor="let giro of giros" >
          {{giro.description}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Betrag:</label>
      <input type="number" class="form-control" formControlName="value"/>
    </div>
  <button class="btn btn-primary" type="submit">Speichern</button>
  </div>
</form>
