<div class="expenses-view-wrapper">
  <div class="grid">
    <app-dashboard-grid [title]="title" [view]="view" [widgets]="widgets">
      <ng-template appDashboardWidget [uuid]="'c8cbce04-304c-40ef-a4fd-f0d82da774b6'">
        <app-expensesmassloadcontroller></app-expensesmassloadcontroller>
      </ng-template>
      <ng-template appDashboardWidget [uuid]="'faf71f82-c7cc-4866-ad2d-1441a0875437'">
        <app-expensesmassloadeditor></app-expensesmassloadeditor>
      </ng-template>
    </app-dashboard-grid>
  </div>
</div>
