@import '~styles/variables';

:host {
  z-index: 2000;
  display: flex;
  flex-flow: column;
}

.top-navigation-wrapper {
  .title {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    vertical-align: middle;
    border-style: none;
    color: $primary;
  }

  .navbar {
    padding: 0.2rem 1rem;
  }

  .navbar-brand {
    margin-right: 2rem;
    font-size: 1rem;
    color: $gray-700;
  }

  .settings {
    .dropdown-item {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}
