<div class="top-navigation-wrapper">
  <div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" (click)="_isCollapsed = !_isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler" [collapse]="_isCollapsed">
      <a class="navbar-brand" routerLink="/home"><img src="assets/images/logo.png" height="20"><span class="title">MyFinance</span></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" href dropdownToggle (click)="false">Dashboards</a>
          <ul *dropdownMenu class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/dashboards/instrument-overview">Instrument Overview</a>
            </li>
            <li>
              <a class="dropdown-item">no other dashboard</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" href dropdownToggle (click)="false">Kontopflege</a>
          <ul *dropdownMenu class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/transactions">Transaktionen</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/instruments">Instrumente</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/tenants">Mandanten</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" href dropdownToggle (click)="false">Beispiele</a>
          <ul *dropdownMenu class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/barchart">Bar-Chart</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/linechart">Line-Chart</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <h6 class="dropdown-header">Formulare</h6>
            <li>
              <a class="dropdown-item" routerLink="/instrument-search">Instrument Search</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/gridexp">Grid</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown settings" dropdown>
          <a class="nav-link dropdown-toggle" href dropdownToggle (click)="false">Einstellungen</a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">Backend</h6>
            <li *ngFor="let zone of configService.get('zones')">
              <div (click)="handleZoneSelect(zone.identifier)" class="dropdown-item">{{ zone.name }}<span class="text-success" *ngIf="zone.identifier == configService.get('currentZone').identifier"><i class="icon-checkmark" aria-hidden="true"></i></span></div>
            </li>
            <li class="divider dropdown-divider"></li>
            <h6 class="dropdown-header">Environment</h6>
            <li *ngFor="let env of configService.environments">
              <div (click)="handleEnvSelect(env)" class="dropdown-item">{{ env }}<span class="text-success" *ngIf="env == configService.getCurrentEnv()"><i class="icon-checkmark" aria-hidden="true"></i></span></div>
            </li>
            <li class="divider dropdown-divider"></li>
            <h6 class="dropdown-header">Mandant</h6>
            <li *ngFor="let tenant of configService.tenants">
              <div (click)="handleTenantSelect(tenant)" class="dropdown-item">{{ tenant.description }}<span class="text-success" *ngIf="tenant == configService.getCurrentTenant()"><i class="icon-checkmark" aria-hidden="true"></i></span></div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
