<form [formGroup]="instrumentForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <p>InstrumentType:</p>
    <select class="btn btn-primary dropdown-toggle" formControlName="instrumentType">
      <option class="mydropdown-item" [ngValue]="instrumentType" *ngFor="let instrumentType of instrumentTypes" >
        {{instrumentType}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Beschreibung:</label>
    <input class="form-control" formControlName="description"/>
    <span *ngIf="!instrumentForm.get('description').valid && instrumentForm.get('description').touched">
      Bitte geben Sie eine Beschriebung für das Instrument ein!
    </span>
  </div>
  <div class="form-group" *ngIf="instrumentForm.get('instrumentType').value === 'BUDGET'">
    <p>Budget Group:</p>
    <select class="btn btn-primary dropdown-toggle" formControlName="budgetGroup">
      <option class="mydropdown-item" [ngValue]="budgetGroup" *ngFor="let budgetGroup of budgetGroups" >
        {{budgetGroup.description}}
      </option>
    </select>
    <span *ngIf="!instrumentForm.get('budgetGroup').valid && instrumentForm.get('budgetGroup').touched">
      Bitte geben Sie eine Budgetgruppe für das Instrument ein!
    </span>
  </div>

  <div class="form-group" *ngIf="instrumentForm.get('instrumentType').value === 'REALESTATE'">
    <p>Budget für Immobilienwert:</p>
    <select class="btn btn-primary dropdown-toggle" formControlName="budget">
      <option class="mydropdown-item" [ngValue]="budget" *ngFor="let budget of budgets" >
        {{budget.description}}
      </option>
    </select>
    <span *ngIf="!instrumentForm.get('budget').valid && instrumentForm.get('budget').touched">
      Bitte geben Sie ein Budget für den Immobilienwert ein!
    </span>
    <BR>
    <b>Immobilienwert:</b>
    <table>
      <thead>
        <tr>
          <th width="250">Wertdatum</th>
          <th width="250">Zielrendite(z.B. 0.04 für 4 %)</th>
          <th width="250">Monantlicher Gewinn</th>
        </tr>
      </thead>
    </table>
      <div class="table table-striped" formArrayName="valcaldata" *ngFor="let entry of instrumentForm.get('valcaldata')['controls']; let i = index">
        <table [formGroupName]="i">
         <td width="250"><input type="text" align="right" formControlName="valDate"
            placeholder="Datepicker"
            class="myformcontrol"
            [bsConfig]="bsConfig"
            bsDatepicker/></td>
          <td width="250"><input class="form-control" formControlName="yieldgoal"/></td>
          <td width="250"><input class="form-control" formControlName="profit"/></td>
        </table>
      </div>
      <button class="btn btn-primary" type=button (click)="addValueCalculationData()">Neuer Immobilienwert</button>
  </div>
  <button class="btn btn-primary" type="submit">Speichern</button>
  
</form>

