<form [formGroup]="instrumentForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <p>InstrumentType:</p>
    <select class="btn btn-primary dropdown-toggle" formControlName="instrumentType">
      <option class="mydropdown-item" [ngValue]="instrumentType" *ngFor="let instrumentType of instrumentTypes" >
        {{instrumentType}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Beschreibung:</label>
    <input class="form-control" formControlName="description"/>
    <span *ngIf="!instrumentForm.get('description').valid && instrumentForm.get('description').touched">
      Bitte geben Sie eine Beschriebung für das Instrument ein!
    </span>
  </div>
  <div class="form-group" *ngIf="instrumentForm.get('instrumentType').value === 'BUDGET'">
    <p>Budget Group:</p>
    <select class="btn btn-primary dropdown-toggle" formControlName="budgetGroup">
      <option class="mydropdown-item" *ngFor="let budgetGroup of budgetGroups" >
        {{budgetGroup.description}}
      </option>
    </select>
    <span *ngIf="!instrumentForm.get('budgetGroup').valid && instrumentForm.get('budgetGroup').touched">
      Bitte geben Sie eine Budgetgruppe für das Instrument ein!
    </span>
  </div>

  <div class="form-group" *ngIf="instrumentForm.get('instrumentType').value === 'REALESTATE'">
    <p>Budget für Immobilienwert:</p>
    <select class="btn btn-primary dropdown-toggle" formControlName="budget">
      <option class="mydropdown-item" *ngFor="let budget of budgets" >
        {{budget.description}}
      </option>
    </select>
    <span *ngIf="!instrumentForm.get('budget').valid && instrumentForm.get('budget').touched">
      Bitte geben Sie ein Budget für den Immobilienwert ein!
    </span>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Datum</th>
          <th scope="col">Renditeziel</th>
          <th scope="col">Monatlicher Profit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of valueCalculationData">
          <td><input type="text" align="right" value="{{ entry.valDate }}"
            placeholder="Datepicker"
            class="myformcontrol"
            [bsConfig]="bsConfig"
            bsDatepicker/></td>
          <td><input class="form-control" value="{{ entry.yieldgoal }}"/></td>
          <td><input class="form-control" value="{{ entry.profit }}"/></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="addValueCalculationData()">Neuer Immobilienwert</button>
  </div>

  <button class="btn btn-primary" type="submit">Speichern</button>
</form>
