// Variables
$bootstrap-path: '../node_modules/bootstrap/scss/bootstrap.scss';
$fa-font-path : '../node_modules/font-awesome/fonts';


$black: #000000;
$white: #FFFFFF;
$yellow-200: rgb(250, 180, 000);
$gray-700: #707172;
$orange-100: #f08200;
$red-400: rgb(230, 70, 15);
$red-300: mix($red-400, $white, 75%);
$red-200: mix($red-400, $white, 50%);
$red-100: mix($red-400, $white, 30%);
$washed-blue-200: rgb(184, 212, 230);
$washed-blue-100: mix($washed-blue-200, $white, 50%);
$light-blue-200: rgb(134, 168, 208);
$light-blue-100: mix($light-blue-200, $white, 50%);
$blue-200: rgb(85, 120, 178);
$blue-100: mix($blue-200, $white, 50%);
$blue-gray-400: rgb(25, 45, 70);
$blue-gray-300: mix($blue-gray-400, $white, 75%);
$blue-gray-200: mix($blue-gray-400, $white, 50%);
$blue-gray-100: mix($blue-gray-400, $white, 30%);
$mf-font-family-sans-serif: Arial, sans-serif;
$mf-blue-400: #0e3c8a;
$mf-blue-300: mix($mf-blue-400, $white, 75%);

// Bootstrap Variables
$primary: $orange-100;

$border-color: rgba(34,36,38,.15);

$dimmer-color: white;
$dimmer-background-color: rgba(0, 0, 0, 0.60);
$danger: $red-400;
$success: $blue-200;
$info: $light-blue-200;
$warning: $yellow-200;

$active-tab-background-color: rgba(0, 0, 0, 0.87);
$active-tab-color: white;

$dashboard-grid-card-background-color: white;
