<div>
  <div>
    <b>Betrachtungszeit:  <input type="text" align="right"
         placeholder="Daterangepicker"
                               class="myformcontrol"
                               bsDaterangepicker [(ngModel)]="daterange" (bsValueChange)="onValueChange($event)" [bsConfig]="bsConfig" placement="right bottom" style="width: 210px;"/></b>
  </div>
  <br>
  <div class="form-group">
    <label>Instrumentfilter:</label>
    <select class="btn btn-primary dropdown-toggle" [(ngModel)]="instrument" (change)="setInstrumentFilter()">
      <option class="mydropdown-item" *ngFor="let item of instruments" [ngValue]="item">{{item.description}}</option>
    </select>
  </div>
  <br>
  <div class="form-group">
    <button class="btn btn-primary" (click)="onClearFilter()">Clear Filter</button>
  </div>
</div>
