@import '~styles/_variables';

:host {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.barchart-wrapper {
  height: 100%;
  overflow: auto;

  .ui.card {
    position: absolute;
    background-color: $dashboard-grid-card-background-color;
  }

  .mobile {
    overflow: hidden;

    .ui.card {
      position: relative;
    }
  }

  .drag-handler {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10000;
    cursor: move;
  }
}
