<div class="grid" style="height: 80%; width: 80%">

  <app-dimmer [isDimmed]="_loading">
    <div class="loader-wrapper">
      <div class="loader text-primary"><i class="fa fa-spinner fa-spin"></i>Loading</div>
    </div>
  </app-dimmer>
  <app-dimmer [isDimmed]="_preparing">
    <div class="loader-wrapper">
      <div class="loader text-primary"><i class="fa fa-spinner fa-spin"></i>Preparing dashboard</div>
    </div>
  </app-dimmer>
    <app-widget-horizontal-bar-chart class="barchart-wrapper"
      *ngIf="_dataLoaded; else dataNotLoaded"
      [config]="_widgetConfig"
      [resized]="_resizedSubject">
    </app-widget-horizontal-bar-chart>
    <ng-template #dataNotLoaded>
      <div class="no-data-loaded-wrapper">
        <div class="no-data-loaded">
          No data loaded...
        </div>
      </div>
    </ng-template>
</div>

