<div class="grid-view-wrapper">
    <div  class="grid">
      <app-dashboard-grid [title]="title" [view]="view" [widgets]="widgets">
        <ng-template appDashboardWidget [uuid]="'06bd164a-17aa-4a75-85bb-72b010931d5b'">
          <app-marketdataeditor></app-marketdataeditor>
        </ng-template>
        <ng-template appDashboardWidget [uuid]="'4ebcb0f3-295b-4b06-a14a-5e085eef8f72'">
          <app-marketdatacontroller></app-marketdatacontroller>
        </ng-template>
        <ng-template appDashboardWidget [uuid]="'b3d3d7cf-4c2f-42fd-ab32-73a29e8e2056'">
          <app-marketinstrumenttable></app-marketinstrumenttable>
        </ng-template>
        <ng-template appDashboardWidget [uuid]="'b90f6647-3d26-4acf-93fd-d583b82bf4f1'">
          <app-marketdatapriceview></app-marketdatapriceview>
        </ng-template>
      </app-dashboard-grid>
    </div>
  </div>
