<div>
    <div class="form-group">
      <label>Stichtag:</label><br>
      <input type="text" align="right"
        placeholder="Datepicker"
        class="myformcontrol"
        bsDatepicker [(ngModel)]="duedate" (bsValueChange)="onDueDayChange($event)" [bsConfig]="bsConfig" placement="right bottom" style="width: 210px;"/>
    </div>
    <div class="form-group">
      <label>Vergleichstag:</label><br>
      <input type="text" align="right"
        placeholder="Datepicker"
        class="myformcontrol"
        bsDatepicker [(ngModel)]="diffDate" (bsValueChange)="onDiffDayChange($event)" [bsConfig]="bsConfig" placement="right bottom" style="width: 210px;"/>
    </div>
</div>
