<div>
  <button class="btn btn-primary" (click)="onImportStart()">Preisimport starten</button>

  <div class="form-group">
    <label>Startdatum:</label><br>
    <input type="text" align="right"
      placeholder="Datepicker"
      class="myformcontrol"
      bsDatepicker [(ngModel)]="startdate" (bsValueChange)="onStartDateChange($event)" [bsConfig]="bsConfig" placement="right top" style="width: 210px;"/>
  </div>
  <div class="form-group">
    <label>Enddatum:</label><br>
    <input type="text" align="right"
      placeholder="Datepicker"
      class="myformcontrol"
      bsDatepicker [(ngModel)]="enddate" (bsValueChange)="onEndDateChange($event)" [bsConfig]="bsConfig" placement="right top" style="width: 210px;"/>
  </div>
  </div>
