<div class="grid-view-wrapper">
  <div  class="grid">
    <app-dashboard-grid [title]="title" [view]="view" [widgets]="widgets">
      <ng-template appDashboardWidget [uuid]="'704197f2-6152-11eb-ae93-0242ac130002'">
        <app-assetviewcontroller></app-assetviewcontroller>
      </ng-template>
      <ng-template appDashboardWidget [uuid]="'7f38672c-6152-11eb-ae93-0242ac130002'">
        <app-instrumentvaluehistory></app-instrumentvaluehistory>
      </ng-template>
      <ng-template appDashboardWidget [uuid]="'8d019478-6152-11eb-ae93-0242ac130002'">
        <app-accountvalueview></app-accountvalueview>
      </ng-template>
      <ng-template appDashboardWidget [uuid]="'7dc9e43b-abc1-4191-9497-ad0fb24983e8'">
        <app-accountvaluechangeview></app-accountvaluechangeview>
      </ng-template>
      <ng-template appDashboardWidget [uuid]="'972aa46c-6152-11eb-ae93-0242ac130002'">
        <app-budgetvalueview></app-budgetvalueview>
      </ng-template>
      <ng-template appDashboardWidget [uuid]="'ad625d6d-4ab5-475f-95c2-0e5add8b1b5b'">
        <app-budgetvaluechangeview></app-budgetvaluechangeview>
      </ng-template>
      <ng-template appDashboardWidget [uuid]="'9ea794fc-6152-11eb-ae93-0242ac130002'">
        <app-instrumentvaluedetailsview></app-instrumentvaluedetailsview>
      </ng-template>
    </app-dashboard-grid>
  </div>
</div>
